html, body, #root, .k-wrapper {
  height: 100%;
}

.k-wrapper {
  display: flex;
}

.k-nav {
  background: $green;
  flex: 1 0 270px;
  -webkit-flex-shrink: 0; 
  -webkit-flex-basis: 270px;
  text-align: center;
  position: relative;
  padding: 10px 25px;
  box-shadow: 2px 0px 5px 0 rgba(0,0,0,.20);
  overflow: scroll;

  .k-about-desktop {
    color: $white;

    h3, p {
      margin: 15px 0;
    }

    h3 {
      font-weight: 400;
      font-size: 19px;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    p {
      margin-top: 15px;
      font-weight: 300;
      text-align: left;
      font-size: 16px;
    }
  }

  .k-about-mobile {
    display: none;
  }

  .k-contact {
    margin-top: 25px;
    text-align: left;

    div {
      margin-bottom: 10px;
    }
  }
}

.fadeIn {
  animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.k-body {
  background: $gray;
  flex: 1 100%;
  overflow: scroll;
}

@media screen and (max-width: 1170px) {
  .k-wrapper {
    flex-flow: column;
  }

  .k-nav {
    display: flex;
    flex: none;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);
    z-index: 10;

    .k-about-mobile {
      display: flex;
      flex: 1;
      text-align: left;
      align-items: center;

      h3 {
        font-weight: 400;
        margin: 0;
      }

      h3 a, small {
        color: $white;
        text-decoration: none;
      }
    }

    .k-about-desktop {
      display: none;
    }

    .k-contact {
      margin: 0;
    }

    .k-contact div {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .k-nav {
    display: block;

    .k-about-mobile, .k-contact {
      display: block;
      text-align: center;
    }

    .k-about-mobile h3 {
      margin-bottom: 10px;
    }
  }
}

.k-shadow {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.20);
  border: 1px solid $darkgray;
  color: $black;
}