.project-container {
  padding: 0 30px;
  position: relative;
  right: 1000px;
}

.fadeInLeft {
  animation: fadeInLeft 500ms ease-in-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
    right: 0;
  }
}

.k-panel {
  padding: 6px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 4px;

  h2 {
    margin: 0;
  }

  .k-title-group {
    display: flex;
    justify-content: space-between;

    div a:last-of-type {
      margin-left: 10px;
    }
  }
}

.k-image-entry {
  margin-bottom: 20px;

  img {
    max-width: 100%;
    padding: 6px;
    border-radius: 4px;
    background-color: $white;
  }
}


.k-btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  div button:last-of-type {
    margin-left: 10px;
  }
}