.project-container {
  padding: 0 30px;
  position: relative;
  left: 1000px;
}

.fadeInLeft {
  animation: fadeInLeft 500ms ease-in-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
    left: 0;
  }
}

.k-image-entry {
  margin-bottom: 20px;

  img {
    max-width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid $darkgray;
    background-color: $white;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.20);
  }
}


.k-btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}