@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

$green: #1DE9B6;
$white: #F8FDFF;
$gray: #E6E6E6;
$black: #5D5D5D;

html, body, #root, .k-wrapper {
  height: 100%;
}

.k-wrapper {
  display: flex;
}

.k-nav {
  background: $green;
  flex: 1 0 300px;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 10px;

  .k-about {
    color: $white;

    h3, p {
      margin: 15px 0;
    }

    h3 {
      font-weight: 400;
    }

    p {
      margin-top: 15px;
      font-weight: 300;
      text-align: left;
    }
  }

  .k-contact {
    margin-top: 25px;
    text-align: left;
  }

  .k-contact div {
    margin-bottom: 10px;
  }
}


.k-body {
  background: $white;
  flex: 1 100%;
  overflow: scroll;
}